* { user-select: none; }
.drag-card {
    position: absolute;
}

.drag-card img {
    pointer-events: none;
}

.card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards-collection, #search-add-list, #search-add-box {
    display: flex;
    flex-wrap: wrap;
}

#search-add-box-input {
    width: 100%;
}